<p id="notice"><%= notice %></p>

<h1>Pitchers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.fname %> <%= player.lname %> (<%=player.season %>)</td>

        <td><%= link_to 'Show', player %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pitcher', new_pitcher_path %>
