<p id="notice"><%= notice %></p>

<h1>Pitchers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pitchers.each do |pitcher| %>
      <tr>
        <td><%= link_to 'Show', pitcher %></td>
        <td><%= link_to 'Edit', edit_pitcher_path(pitcher) %></td>
        <td><%= link_to 'Destroy', pitcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pitcher', new_pitcher_path %>
