<p id="notice"><%= notice %></p>

  <h1><div class=""></div><%= @pitcher.throws %>HP - <%= @pitcher.fname %> <%= @pitcher.lname %> (<%= @pitcher.season %>)</h1>

  <p><%= @pitcher.franchise %> bats: <%= @pitcher.bats %>, throws: <%= @pitcher.throws %></p>

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Basic Stats</div>
  <div class="card-body">
    <p class="card-text">IP per 162</p>
    <h4 class="card-title"><%= @pitcher.ip_162 %></h4>
    <p class="card-text">ERC#</p>
    <h4 class="card-title"><%= @pitcher.erc_norm %></h4>
    <p class="card-text">WHIP#</p>
    <h4 class="card-title"><%= @pitcher.whip_norm %></h4>
  </div>

  <div class="card-header">Fatigue</div>
  <p class="card-text">Max Pitches per Inning</p>
  <h4 class="card-title"><%= pitches_per_inning(@pitcher) %></h4>
  <p class="card-text">Max Pitches Total</p>
  <h4 class="card-title"><%= pitches_max(@pitcher) %></h4>
  <p class="card-text">Max Pitches/game</p>
  <h4 class="card-title"><%= pitches_max(@pitcher)/@pitcher. %></h4>

  <p class="card-text">Pitches/game - Starter - 4M rotation </p>
  <h4 class="card-title"><%= (pitches_max(@pitcher)/40.5).round(2) %></h4>
  <p class="card-text">Pitches/game - Starter - 3M rotation </p>
  <h4 class="card-title"><%= (pitches_max(@pitcher)/54).round(2) %></h4>


</div>

  <% @pitcher.attributes.each do |name, value| %>
       <%= name %>: <%= value %><br />
  <% end %>

<p>
<%= link_to 'Edit', edit_pitcher_path(@pitcher) %> |
<%= link_to 'Back', pitchers_path %>
