<p id="notice"><%= notice %></p>

<h1>Batters</h1>

<%= form_tag(batters_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :salary, params[:salary], placeholder: "Salary" %>
    <%= submit_tag "Search by Salary", :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batters.each do |batter| %>
      <tr>
        <td><%= link_to batter.fname + " " + batter.lname, batter %> (<%=batter.season %> <%= batter.franchise %>) - <%= batter.pa_162 %> PA/162</td>

        <!-- <td><%= link_to 'Edit', edit_batter_path(batter) %></td>
        <td><%= link_to 'Destroy', batter, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
